p {
    /* 使p元素居中 */
    text-align: center;
}

#ICO {
    transition: transform 1s;
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
}

/* 鼠标放置ICO上变暗 */
#ICO:hover {
    filter: brightness(0.9);
}

/* 设置header图片文字不换行 */
header {
    white-space: nowarp;
    text-align: center;
    font-size: 35px;
    font-family: Playpen Sans, ZCOOL QingKe HuangYou;
}

header img {
    vertical-align: middle;
}

.line,
.line:visited {
    color: violet;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: ZCOOL QingKe HuangYou;
}

.line:hover,
.line:active {
    color: white;
}

footer {
    font-size: 20px;
    background-color: pink;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

footer a {
    display: inline-block;
    margin: 0 20px;
}

#BackTop {
    color: violet;
    letter-spacing: 2px;
    font-family: ZCOOL QingKe HuangYou;
    background-color: pink;
    width: 80px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px 0 0 10px;
}

#BackTop:hover {
    color: white;
    background-color: gainsboro;
    border-radius: 10px 0 0 10px;
}